<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                    <h5>Get Free Membership</h5>
                </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input formControlName="name" placeholder="Enter Name" type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber">MobileNumber</label>
                            <input formControlName="mobileNumber" placeholder="Enter Mobile Number"  type="mobileNumber" 
                            class="form-control" id="mobileNumber">
                          </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input formControlName="email" placeholder="Enter Email"  type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" placeholder="Enter Password"  type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </form>
                    <a routerLink="/login">Already Member ? Click to Login</a>
            </div>
        </div>
    </div>
</div>

